#chat {
    /* width: max-content; */
    height: max-content;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
    overflow: hidden;
    word-break:break-all;
    word-wrap:break-word;
    /* float: left; */
}
#message {
    width: 450px;
    height: 100px;
    padding: 10px;
    border: 2px solid black;
    text-decoration-color: darkslategrey;
}