<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>channels</title>
    <script type="text/javascript"></script>
    <!-- XXX how Trevor does it -->
    <!-- <script
      src="https://kit.fontawesome.com/a7bea4f05b.js"
      crossorigin="anonymous"
    ></script> -->
    <!-- XXX how I did it at UDACITY -->
    <!-- <link
      rel="stylesheet prefetch"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
    /> -->
    <link rel="stylesheet" href="css/channel.css" />
  </head>

  <body lang="en">
    <h1>Hei, <span id="username"></span>!</h1>
    <h2>channel: general</h2>

   <!--  <div id="channelframe" style="border:2px inset #AAA;cursor:text;height:120px;overflow:auto;width:500px;"> -->
<!--     
    <div>
      <textarea id="chat" > Nachrichten erscheinen hier</textarea>
    </div>
 -->
    <div id="chat">
       Nachrichten erscheinen hier
    </div>
    
    <!-- </div> -->
   

    <div>
      <!-- <form action="" method="post"> -->
        <p>your message (max. 255 digits)</p>
        <textarea id="message" name="sentMessage" maxlength="255"></textarea>
        <p><input id="submit" type="submit" value="Submit" /></p>
        <!-- <button id="submit">Senden</button>  RECOMMENDED BY MDN:
        -->
      <!-- </form> -->
    </div>


<!--  HOW IT IS WORKING
 <textarea id="textarea"></textarea>

 <button id="submit">Senden</button> -->
 
    <script type="text/javascript" src="/js/channel.js"></script>
  </body>
</html>
