<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>channels</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="css/channel.css" />
  </head>

  <body lang="en">
    <h1>Hei, <span id="username"></span>!</h1>
    <h2>channel: general</h2>

    <div id="chat">Nachrichten erscheinen hier</div>
    <div>
      <p>your message (max. 255 digits)</p>
      <textarea id="message" name="sentMessage" maxlength="255"></textarea>
      <p><input id="submit" type="submit" value="Submit" /></p>
    </div>

    <script type="text/javascript" src="/js/channel.js"></script>
  </body>
</html>
