<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Welcome</title>
      <!-- XXX how Trevor does it -->
      <script
        src="https://kit.fontawesome.com/a7bea4f05b.js"
        crossorigin="anonymous"
      ></script>
      <!-- XXX how I did it at UDACITY -->
      <link
        rel="stylesheet prefetch"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
      />
      <link rel="stylesheet" href="css/app.css" />
    </head>
    <body lang="en">
        <h1>W E L C O M E</h1>
    </body>
  
</html>
